<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mortgage Loan Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
{% load staticfiles %}
    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/mortgage.css" rel="stylesheet">
    
    <script src="/static/js/jquery-1.11.3.js"></script>

    <script src="/static/js/highcharts.js"></script>
  </head>

  <body>
        <div class='container'>
        
                        {% block content %}
                              
                            
                        {% endblock %}  
              <footer>
                <p></p>
              </footer>
        </div> <!-- /container -->
        </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/adjustmentTable.js"></script>
    
  </body>
</html>
